# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
RewriteEngine on
# Force https -------
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# ------------------------------------------------------

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ login.php/$1 [L]

##301 Redirect default.php
#Redirect 301 / login.php